q@CHARSET "UTF-8";
body{
	width:auto;
}
#face{
	text-align:center;
	font-size:10px;
}
#face dl{
margin-left:20px;
	
	
	}
#face dt{
	float:left;
	margin:0 auto;
	display:inline-block;
	width:45px;
	height:45px;
	}
#face dl dt img{
	
	width:45px;

	margin-top:5px;
    cursor:pointer;
}